{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="profile-view">
</div>

{% if user.is_authenticated %}
<hr>
<div id="new-post-container" class="container">
    <h3>New Post</h3>
    <form method="post" class="mb-0">
        {% csrf_token %}
        <div class="form-group mb-2">
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endif %}

<hr>
<div id="posts-container" class="container">
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/social.js' %}"></script>
{% endblock %}