{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="profile-view"></div>

{% if user.is_authenticated %}
<hr>
<div id="new-post-container" class="container">
    <h3>New Post</h3>
    <form id="new-post-form" class="mb-0">
        <div class="form-group mb-2">
            <textarea id="new-post-content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endif %}

<hr>
<div id="posts-container" class="container">
</div>
<div id="pagination-container" class="container mt-3 d-flex justify-content-center"></div>
{% endblock %}

{% block script %}
<script src="{% static 'network/social.js' %}"></script>
{% endblock %}